# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Misc
.DS_Store

# IDEs
.idea
.vscode

# Dependencies
/node_modules

# Node.js
npm-debug.log*

# Build
/build
*.tsbuildinfo

# Temporary
/.next/
next-env.d.ts