@use 'sass:color';

// Light mode colors
$highlight-color-hover: rgba(191, 200, 201, 0.8);
$highlight-color: rgb(191, 200, 201);

// Dark mode colors
$highlight-color-dark-hover: rgba(80, 90, 100, 0.8);
$highlight-color-dark: rgb(70, 80, 90);

.highlight-text {
    position: relative;
    background: linear-gradient(transparent 30%, rgba($highlight-color, 0.5) 70%, transparent 100%);
    display: inline-block;
    line-height: 1.5;
    border-radius: 8px;
    transition: transform 0.3s ease;

    &::before,
    &::after {
        transition:
            transform 0.3s ease,
            background 0.3s ease;
    }

    &:hover {
        background: linear-gradient(
            transparent 30%,
            color.adjust($highlight-color-hover, $lightness: 10%) 70%,
            transparent 100%
        );
        &::before {
            transform: scale(1.12) skewY(-3deg) rotate(2deg);
            background: color.adjust($highlight-color-hover, $lightness: 10%);
        }

        &::after {
            transform: scale(1.12) skewY(-2deg) rotate(2deg);
            background: color.adjust($highlight-color-hover, $lightness: 20%);
        }
    }

    // Dark mode
    :global(.dark) & {
        background: linear-gradient(transparent 30%, rgba($highlight-color-dark, 0.5) 70%, transparent 100%);

        &:hover {
            background: linear-gradient(
                transparent 30%,
                color.adjust($highlight-color-dark-hover, $lightness: 10%) 70%,
                transparent 100%
            );
            &::before {
                background: color.adjust($highlight-color-dark-hover, $lightness: 10%);
            }

            &::after {
                background: color.adjust($highlight-color-dark-hover, $lightness: 15%);
            }
        }
    }
}

.highlight-text::before {
    content: '';
    position: absolute;
    left: -7px;
    right: -7px;
    bottom: 0;
    height: 100%;
    background: rgba($highlight-color, 0.5);
    z-index: -1;
    transform: skewY(-3deg);
    border-radius: 8px 50% 50% 8px;
    filter: blur(1px);

    :global(.dark) & {
        background: rgba($highlight-color-dark, 0.5);
    }
}

.highlight-text::after {
    content: '';
    position: absolute;
    left: -3px;
    right: -3px;
    bottom: 0;
    height: 50%;
    background: rgba($highlight-color, 0.3);
    z-index: -1;
    transform: skewY(3deg);
    border-radius: 50% 8px 8px 50%;
    filter: blur(1px);

    :global(.dark) & {
        background: rgba($highlight-color-dark, 0.3);
    }
}
